<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Cumpleaños Sofia</title>
  </head>
  <body onclick="playAudio()">
    <audio id="music1" autoplay loop>
      <source src="./assets/pokemon.mp3" type="audio/mpeg" />
    </audio>
    <header>
      <div class="box1">
        <img class="logo" src="./assets/logo_pokemon.png" alt="" />
      </div>
      <div class="title">
        <h1>CUMPLEAÑOS DE SOFIA ARDILA</h1>
      </div>
    </header>
    <main id="app">
      <div class="text">
        <p>
          El día # se va a celebrar un evento sin precedentes en el mundo
          Pokémon, el cumpleaños de la Maestra Pokémon Sofia Ardila. Entrenador
          (a), introduce tu nombre en el espacio de abajo y descubre si fuiste
          seleccionado para participar de este magnifico evento.
        </p>
      </div>
      <div class="box2">
        <img class="pikachu" src="./assets/pikachu.png" alt="" />
        <h1 v-if="message">FELICIDADES</h1>
      </div>
      <div class="verificar">
        <input class="input" v-model="invitado" type="text" />
        <div class="verificar__button">
          <img
            v-on:click="findGuest"
            class="pokeball"
            src="./assets/pokeball.png"
            alt=""
          />
          <span>VERIFICAR</span>
        </div>
      </div>

      <div class="container"></div>
      <section class="estadio"></section>
    </main>
    <script src="./main.js"></script>
  </body>
</html>
