<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Cumpleaños Sofia</title>
  </head>
  <body onclick="playAudio()">
    <audio id="music1" autoplay loop>
      <source src="./assets/pokemon.mp3" type="audio/mpeg" />
    </audio>
    <header>
      <div>
        <img
          class="header__logo"
          src="./assets/logo_pokemon.png"
          alt="Pokémon"
        />
      </div>
      <div class="header__title">
        <h1>CUMPLEAÑOS DE SOFIA ARDILA</h1>
      </div>
    </header>
    <main id="app">
      <div class="main__text">
        <p class="maintext__text-content">
          El día 18 de Agosto de 2023, se va a celebrar un evento sin
          precedentes en el mundo Pokémon, el cumpleaños de la Maestra Pokémon
          Sofia Ardila. Entrenador (a), introduce tu nombre en el espacio de
          abajo y descubre si has sido seleccionado para participar de este
          magnifico evento.
        </p>
      </div>
      <div class="main__box1">
        <img class="pikachu" src="./assets/pikachu.png" alt="" />
        <!-- <h1 v-if="message">FELICIDADES</h1> -->
      </div>
      <div class="main__box2">
        <input class="box2__input" v-model="invitado" type="text" />
        <div class="box2__verificar">
          <img
            v-on:click="findGuest"
            class="pokeball"
            src="./assets/pokeball.png"
            alt=""
          />
          <span class="box2__verificar-tag">VERIFICAR</span>
        </div>
      </div>
      <section v-if="genero1" class="mensaje-oculto1">
        <p class="genero1__text-content">
          Felicidades entrenador {{ invitado }}, te encuentras entre el selecto
          grupo de invitados a este espectacular evento, alista tus Pokemons y
          preparate para esta aventura.
        </p>
        <img class="genero1__img" src="./assets/entrenador.png" alt="" />
      </section>
      <!-- <section v-if="genero2"></section> -->
      <section class="estadio"></section>
    </main>
    <script src="./main.js"></script>
  </body>
</html>
